<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Squawk Code Generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" async></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <div class="row" style="position:sticky;top:0;background:white;">
      <div class="col s12">
        <form class="" action="index.html" method="post">
          <input type="text" name="callsign" placeholder="Enter Callsign" value="" autocomplete="off">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table class="bordered">
          <thead>
            <tr>
              <th>Callsign</th>
              <th>Squawk Code</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in assigned_squawk.items() %}
            <tr>
              <td data-label="Callsign"> {{ key }} </td>
              {% if online[key] == value %}
              <td data-label="Squawk Code" style="color:green;"> {{ value.zfill(4) }} </td>
              {% else %}
              <td data-label="Squawk Code"> {{ value.zfill(4) }} </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
